<header style="background-color:#000000; padding:1em;">
    <ul class="topnav">
        <a href="/#home" class="active">Home</a>
        <a href="/projects">Projects</a>
        <a href="/#about">About</a>
        <a href="/contact">Contact</a>
    </ul>
</header>